
html{background-image: url(haga_h051.jpg); background-repeat: no-repeat;}
.p1{font-family: 'Original Surfer', cursive;font-size: small;color: #39092D;}
.p2{font-family: 'Delius Unicase', cursive;}
.p3{font-family: 'Maven Pro', sans-serif;
background-repeat: no-repeat;padding-left: 50px}
.p4{font-family: 'Laila', serif;}
.p5{font-family: 'Amaranth', sans-serif;}