html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.nav{width: 100%;height: 50px;position: fixed;left: 0px;top: 0px;}

ul li{float: left;display: block;background-color: #9A5927;text-align: center;
    line-height: 50px;font-size: 14pt;width: 25%;}
ul li a{color: #F9F59A;text-decoration: none;}
ul li ul{display: none;}
ul li ul li{width: 50%}
ul li:hover ul{display: block;}
ul li:hover{background-color: #BA7947;}
ul li ul li:hover{background-color: #F9F59A;}
ul li ul li:hover a{color: #9A5927;}
ul li ul{z-index:1;}
#bk{z-index: -1;text-align: center;margin-right: 50px;margin-left: 50px;color: #9A5927;font-weight: bolder;font-size: 15px;}

h4{font-size: 16pt;color: #93470C;text-align: center;font-weight: 150%;text-decoration: underline;margin-bottom: 20px;}
h2{background-color: #9A5927;float: right;width: 100%;border-color: yellow;border-width: 5px;margin-right: 20px;
margin-left: 20px;margin-top: 100px;margin-bottom: 20px;padding-top: 10px;padding-right: 15px; height: 40px;color: white;text-align: right;
font-size: 25px;}
#good{text-align: center;color: #9A5927;font-weight: bolder;font-size: 15px;}
#bad{text-align: center;color: #9A5927;font-weight: bolder;font-size: 15px;}
#feature{text-align: center;color: #9A5927;font-weight: bolder;font-size: 15px;}
#last{margin-bottom: 50px;color: #9A5927;font-weight: bolder;font-size: 15px;}