.wrapper{width: 500px;background-color: white;}
.left-content{width: 100px;height: 300px;background-color: orange;color: white;float: left;}
.right-content{width: 100px;height: 300px;background-color: blue;color: white;float: right;}
.content{height: 300px;background-color: silver;color: white;margin-left: 110px;margin-right: 110px;}
